.pushpad-button {
  display: inline-block;
  padding: 1em 2em;
  color: #fff;
  background-color: #D81E00;
  text-transform: uppercase;
}

.pushpad-button:hover {
  color: #fff;
  background-color: #BF0500;
}

.pushpad-button.subscribed {
  background-color: #ccc;
}

.pushpad-button-wrapper {
  text-align: center;
}
